body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:755px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10463 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:65px;
  width:637px;
  height:755px;
  display:flex;
}
#u10463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10464 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:102px;
  width:525px;
  height:649px;
  display:flex;
  text-align:left;
}
#u10464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:32px;
  background:-webkit-linear-gradient(314.26800646205deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  background:-moz-linear-gradient(135.73199353795deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  background:linear-gradient(135.73199353795deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10465 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:102px;
  width:525px;
  height:32px;
  display:flex;
}
#u10465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10466 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:110px;
  width:32px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u10466 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10466_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u10467 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:104px;
  width:27px;
  height:22px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u10467 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u10468 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:699px;
  width:102px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u10468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10469 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:154px;
  width:80px;
  height:22px;
  display:flex;
}
#u10469 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10469_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10470 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:280px;
  width:64px;
  height:22px;
  display:flex;
}
#u10470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10470_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
  line-height:20px;
}
#u10471 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:184px;
  width:208px;
  height:61px;
  display:flex;
  color:#555555;
  line-height:20px;
}
#u10471 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10471_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:2px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10472 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:262px;
  width:525px;
  height:2px;
  display:flex;
}
#u10472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10473 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:323px;
  width:169px;
  height:16px;
  display:flex;
}
#u10473 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10473_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10474 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:323px;
  width:36px;
  height:16px;
  display:flex;
}
#u10474 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10474_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10475 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:359px;
  width:183px;
  height:16px;
  display:flex;
}
#u10475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10475_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10476 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:359px;
  width:36px;
  height:16px;
  display:flex;
}
#u10476 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10476_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10477 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:405px;
  width:108px;
  height:16px;
  display:flex;
}
#u10477 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10477_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:2px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10478 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:450px;
  width:525px;
  height:2px;
  display:flex;
}
#u10478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10479 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:466px;
  width:64px;
  height:22px;
  display:flex;
}
#u10479 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10479_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10480 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:505px;
  width:84px;
  height:16px;
  display:flex;
}
#u10480 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10480_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10481_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10481_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10481 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:499px;
  width:215px;
  height:25px;
  display:flex;
}
#u10481 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10481_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10481.disabled {
}
.u10481_input_option {
}
#u10482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10482 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:543px;
  width:98px;
  height:16px;
  display:flex;
}
#u10482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10482_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10483 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:540px;
  width:215px;
  height:23px;
  display:flex;
}
#u10483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u10484 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:699px;
  width:102px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u10484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
