body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:1748px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u10443 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1110px;
  height:900px;
  display:flex;
}
#u10443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:70px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u10444 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:106px;
  width:151px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u10444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:901px;
}
#u10445 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:1px;
  height:900px;
  display:flex;
}
#u10445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:66px;
  background:-webkit-linear-gradient(334.134928659922deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  background:-moz-linear-gradient(115.865071340078deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  background:linear-gradient(115.865071340078deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10446 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1110px;
  height:66px;
  display:flex;
  color:#FFFFFF;
}
#u10446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u10447 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:55px;
  width:96px;
  height:37px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u10447 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10447_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10448 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:67px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10448 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10448_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10449 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
}
#u10449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u10450 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:58px;
  width:30px;
  height:33px;
  display:flex;
}
#u10450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u10451 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:51px;
  width:25px;
  height:28px;
  display:flex;
}
#u10451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u10452 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:84px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u10452 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10452_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10453 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u10453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(166, 205, 251, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10454 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10455 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u10455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10456 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u10456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10457 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u10457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10458 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:201px;
  width:25px;
  height:25px;
  display:flex;
}
#u10458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10459 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:201px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u10459 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10459_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10460 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:237px;
  width:64px;
  height:22px;
  display:flex;
}
#u10460 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10460_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10461 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:273px;
  width:64px;
  height:22px;
  display:flex;
}
#u10461 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10461_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10464 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:121px;
  width:40px;
  height:40px;
  display:flex;
}
#u10464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10465 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:129px;
  width:25px;
  height:25px;
  display:flex;
}
#u10465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u10466 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:127px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u10466 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10466_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10467 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u10467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10468 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:332px;
  width:25px;
  height:25px;
  display:flex;
}
#u10468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10469 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:332px;
  width:90px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u10469 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10469_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10470 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:368px;
  width:116px;
  height:22px;
  display:flex;
}
#u10470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10470_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10471 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:401px;
  width:116px;
  height:22px;
  display:flex;
}
#u10471 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10471_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10472 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:434px;
  width:116px;
  height:22px;
  display:flex;
}
#u10472 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10472_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10473 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:206px;
  width:906px;
  height:110px;
}
#u10474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u10474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u10475 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u10476 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:116px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u10477 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u10478 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:0px;
  width:127px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u10479 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u10480 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u10481 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:0px;
  width:101px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u10482 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:86px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:40px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u10484 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:30px;
  width:110px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u10485 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:30px;
  width:116px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u10486 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:30px;
  width:112px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u10487 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:30px;
  width:127px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u10488 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:30px;
  width:107px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u10489 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:30px;
  width:107px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u10490 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:30px;
  width:101px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
}
#u10491 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:30px;
  width:86px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:40px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u10493 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:70px;
  width:110px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u10494 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:70px;
  width:116px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u10495 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:70px;
  width:112px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u10496 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:70px;
  width:127px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u10497 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:70px;
  width:107px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u10498 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:70px;
  width:107px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u10499 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:70px;
  width:101px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
}
#u10500 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:70px;
  width:86px;
  height:40px;
  display:flex;
  text-align:left;
}
#u10500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10501 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:349px;
  width:190px;
  height:16px;
  display:flex;
}
#u10501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10501_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
}
#u10502 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:344px;
  width:78px;
  height:26px;
  display:flex;
  text-align:left;
}
#u10502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10503 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:352px;
  width:10px;
  height:10px;
  display:flex;
}
#u10503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u10504 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:344px;
  width:41px;
  height:26px;
  display:flex;
}
#u10504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u10505 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:344px;
  width:56px;
  height:26px;
  display:flex;
}
#u10505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u10506 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:344px;
  width:27px;
  height:26px;
  display:flex;
  color:#FFFFFF;
}
#u10506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u10507 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:344px;
  width:56px;
  height:26px;
  display:flex;
}
#u10507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u10508 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:344px;
  width:56px;
  height:26px;
  display:flex;
}
#u10508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.87843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10509 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:136px;
  width:928px;
  height:50px;
  display:flex;
}
#u10509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u10510 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:145px;
  width:159px;
  height:33px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u10510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:-webkit-linear-gradient(276.776626300258deg, rgba(64, 158, 255, 1) -11%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 111%, rgba(0, 102, 255, 1) 111%);
  background:-moz-linear-gradient(173.223373699742deg, rgba(64, 158, 255, 1) -11%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 111%, rgba(0, 102, 255, 1) 111%);
  background:linear-gradient(173.223373699742deg, rgba(64, 158, 255, 1) -11%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 111%, rgba(0, 102, 255, 1) 111%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10511 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:145px;
  width:66px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u10511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10512_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10512_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10512 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:145px;
  width:115px;
  height:33px;
  display:flex;
}
#u10512 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10512_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10512.disabled {
}
.u10512_input_option {
}
#u10513_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10513_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10513 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:145px;
  width:115px;
  height:33px;
  display:flex;
}
#u10513 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10513_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10513.disabled {
}
.u10513_input_option {
}
#u10514_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10514_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10514 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:145px;
  width:115px;
  height:33px;
  display:flex;
}
#u10514 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10514_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10514.disabled {
}
.u10514_input_option {
}
#u10515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u10515 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:145px;
  width:105px;
  height:33px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u10515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u10516 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:145px;
  width:105px;
  height:33px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u10516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u10517 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:161px;
  width:24px;
  height:1px;
  display:flex;
}
#u10517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:534px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10518 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:154px;
  width:448px;
  height:534px;
  display:flex;
}
#u10518 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
