body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:825px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:539px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9573 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:825px;
  height:539px;
  display:flex;
}
#u9573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u9574 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:77px;
  width:686px;
  height:436px;
  display:flex;
  text-align:left;
}
#u9574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9575 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:141px;
  width:88px;
  height:22px;
  display:flex;
}
#u9575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9575_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:2px;
}
#u9576 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:167px;
  width:598px;
  height:1px;
  display:flex;
}
#u9576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9577 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:141px;
  width:36px;
  height:22px;
  display:flex;
}
#u9577 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9577_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9578 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:195px;
  width:88px;
  height:22px;
  display:flex;
}
#u9578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9578_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9579 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:195px;
  width:589px;
  height:129px;
  display:flex;
}
#u9579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9580 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:298px;
  width:55px;
  height:22px;
  display:flex;
}
#u9580 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9580_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9581 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:349px;
  width:88px;
  height:16px;
  display:flex;
}
#u9581 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9581_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u9582 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:349px;
  width:95px;
  height:79px;
  display:flex;
  font-size:36px;
  color:#999999;
}
#u9582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:32px;
  background:-webkit-linear-gradient(321.864012947866deg, rgba(64, 158, 255, 1) 43%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 57%, rgba(0, 102, 255, 1) 57%);
  background:-moz-linear-gradient(128.135987052134deg, rgba(64, 158, 255, 1) 43%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 57%, rgba(0, 102, 255, 1) 57%);
  background:linear-gradient(128.135987052134deg, rgba(64, 158, 255, 1) 43%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 57%, rgba(0, 102, 255, 1) 57%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9583 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:77px;
  width:686px;
  height:32px;
  display:flex;
}
#u9583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9584 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:85px;
  width:64px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u9584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9584_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u9585 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:79px;
  width:27px;
  height:22px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u9585 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u9586 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:454px;
  width:102px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u9586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u9587 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:454px;
  width:102px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u9587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9588 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:141px;
  width:32px;
  height:22px;
  display:flex;
}
#u9588 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9588_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9589 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:202px;
  width:557px;
  height:43px;
  display:flex;
}
#u9589 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u9591 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:354px;
  width:70px;
  height:70px;
  display:flex;
}
#u9591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u9592 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:368px;
  width:42px;
  height:42px;
  display:flex;
}
#u9592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
