body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:773px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7243 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:773px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u7244 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:40px;
  width:375px;
  height:64px;
  display:flex;
  color:#CC99CC;
}
#u7244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:16px;
}
#u7245 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:45px;
  width:373px;
  height:16px;
  display:flex;
}
#u7245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u7246 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:76px;
  width:180px;
  height:18px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u7246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u7247 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:77px;
  width:8px;
  height:14px;
  display:flex;
}
#u7247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7249 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:69px;
  width:64px;
  height:26px;
  display:flex;
}
#u7249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7251 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:75px;
  width:15px;
  height:15px;
  display:flex;
}
#u7251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7252 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:80px;
  width:6px;
  height:6px;
  display:flex;
}
#u7252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u7253 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:78px;
  width:8px;
  height:8px;
  display:flex;
}
#u7253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7254 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:80px;
  width:5px;
  height:5px;
  display:flex;
}
#u7254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7255 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:80px;
  width:5px;
  height:5px;
  display:flex;
}
#u7255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:-webkit-linear-gradient(286.077459623196deg, rgba(255, 0, 0, 1) -9%, rgba(255, 0, 0, 1) -9%, rgba(247, 137, 137, 1) 109%, rgba(247, 137, 137, 1) 109%);
  background:-moz-linear-gradient(163.922540376804deg, rgba(255, 0, 0, 1) -9%, rgba(255, 0, 0, 1) -9%, rgba(247, 137, 137, 1) 109%, rgba(247, 137, 137, 1) 109%);
  background:linear-gradient(163.922540376804deg, rgba(255, 0, 0, 1) -9%, rgba(255, 0, 0, 1) -9%, rgba(247, 137, 137, 1) 109%, rgba(247, 137, 137, 1) 109%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u7256 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:167px;
  width:47px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u7256 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u7257 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:144px;
  width:250px;
  height:18px;
  display:flex;
  color:#AAAAAA;
}
#u7257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7258 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:117px;
  width:50px;
  height:50px;
  display:flex;
}
#u7258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7259 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:122px;
  width:64px;
  height:16px;
  display:flex;
  color:#000000;
}
#u7259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7259_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u7260 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:120px;
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u7260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7260_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:2px;
}
#u7261 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:195px;
  width:352px;
  height:1px;
  display:flex;
}
#u7261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:-webkit-linear-gradient(292.635320790533deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  background:-moz-linear-gradient(157.364679209467deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  background:linear-gradient(157.364679209467deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u7262 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:167px;
  width:68px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u7262 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:-webkit-linear-gradient(292.635320790533deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  background:-moz-linear-gradient(157.364679209467deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  background:linear-gradient(157.364679209467deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u7263 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:167px;
  width:68px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u7263 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u7264 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:141px;
  width:8px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:-webkit-linear-gradient(286.077459623196deg, rgba(255, 0, 0, 1) -9%, rgba(255, 0, 0, 1) -9%, rgba(247, 137, 137, 1) 109%, rgba(247, 137, 137, 1) 109%);
  background:-moz-linear-gradient(163.922540376804deg, rgba(255, 0, 0, 1) -9%, rgba(255, 0, 0, 1) -9%, rgba(247, 137, 137, 1) 109%, rgba(247, 137, 137, 1) 109%);
  background:linear-gradient(163.922540376804deg, rgba(255, 0, 0, 1) -9%, rgba(255, 0, 0, 1) -9%, rgba(247, 137, 137, 1) 109%, rgba(247, 137, 137, 1) 109%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u7265 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:258px;
  width:47px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u7265 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u7266 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:235px;
  width:250px;
  height:18px;
  display:flex;
  color:#AAAAAA;
}
#u7266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7267 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:208px;
  width:50px;
  height:50px;
  display:flex;
}
#u7267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7268 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:213px;
  width:64px;
  height:16px;
  display:flex;
  color:#000000;
}
#u7268 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7268_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u7269 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:211px;
  width:48px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u7269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7269_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:2px;
}
#u7270 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:286px;
  width:352px;
  height:1px;
  display:flex;
}
#u7270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u7271 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:232px;
  width:8px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u7272 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:328px;
  width:250px;
  height:18px;
  display:flex;
  color:#AAAAAA;
}
#u7272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7273 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:301px;
  width:50px;
  height:50px;
  display:flex;
}
#u7273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7274 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:306px;
  width:64px;
  height:16px;
  display:flex;
  color:#000000;
}
#u7274 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7274_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u7275 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:304px;
  width:48px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u7275 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7275_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:2px;
}
#u7276 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:379px;
  width:352px;
  height:1px;
  display:flex;
}
#u7276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u7277 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:325px;
  width:8px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:-webkit-linear-gradient(292.635320790533deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  background:-moz-linear-gradient(157.364679209467deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  background:linear-gradient(157.364679209467deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u7278 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:353px;
  width:68px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u7278 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
