body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1427px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:755px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10087 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:13px;
  width:637px;
  height:755px;
  display:flex;
}
#u10087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:755px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10088 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:13px;
  width:637px;
  height:755px;
  display:flex;
}
#u10088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10089 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:50px;
  width:525px;
  height:649px;
  display:flex;
  text-align:left;
}
#u10089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:32px;
  background:-webkit-linear-gradient(314.26800646205deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  background:-moz-linear-gradient(135.73199353795deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  background:linear-gradient(135.73199353795deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10090 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:50px;
  width:525px;
  height:32px;
  display:flex;
}
#u10090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10091 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:58px;
  width:32px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u10091 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10091_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u10092 {
  border-width:0px;
  position:absolute;
  left:1323px;
  top:52px;
  width:27px;
  height:22px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u10092 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10093 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:525px;
  height:649px;
  display:flex;
  text-align:left;
}
#u10093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:32px;
  background:-webkit-linear-gradient(314.26800646205deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  background:-moz-linear-gradient(135.73199353795deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  background:linear-gradient(135.73199353795deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10094 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:525px;
  height:32px;
  display:flex;
}
#u10094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10095 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:58px;
  width:32px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u10095 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10095_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u10096 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:52px;
  width:27px;
  height:22px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u10096 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u10097 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:654px;
  width:102px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u10097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10098 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:157px;
  width:256px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u10098 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10098_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10099 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:219px;
  width:127px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u10099 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10099_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10100 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:219px;
  width:97px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u10100 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10100_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10101 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:244px;
  width:70px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u10101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10101_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10102 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:244px;
  width:62px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u10102 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10102_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10103 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:269px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u10103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10103_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10104 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:269px;
  width:60px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u10104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10104_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10105 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:294px;
  width:132px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u10105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10105_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10106 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:351px;
  width:24px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u10106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10106_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10107 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:394px;
  width:169px;
  height:16px;
  display:flex;
}
#u10107 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10107_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10108 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:394px;
  width:36px;
  height:16px;
  display:flex;
}
#u10108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10108_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u10109 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:416px;
  width:210px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#CCCCCC;
}
#u10109 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10109_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:2px;
}
#u10110 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:513px;
  width:364px;
  height:1px;
  display:flex;
}
#u10110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10111 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:524px;
  width:108px;
  height:16px;
  display:flex;
}
#u10111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10111_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10112 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:550px;
  width:98px;
  height:16px;
  display:flex;
}
#u10112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10112_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10113 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:576px;
  width:98px;
  height:16px;
  display:flex;
}
#u10113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10113_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:2px;
}
#u10114 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:442px;
  width:352px;
  height:1px;
  display:flex;
}
#u10114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10115 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:453px;
  width:106px;
  height:16px;
  display:flex;
}
#u10115 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10115_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10116 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:453px;
  width:56px;
  height:16px;
  display:flex;
}
#u10116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10116_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u10117 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:475px;
  width:52px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#CCCCCC;
}
#u10117 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10117_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u10119 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:146px;
  width:120px;
  height:120px;
  display:flex;
}
#u10119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u10120 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:169px;
  width:30px;
  height:29px;
  display:flex;
}
#u10120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u10121 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:208px;
  width:91px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#FF0000;
}
#u10121 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10121_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
}
#u10122 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:232px;
  width:70px;
  height:11px;
  display:flex;
  font-size:10px;
  color:#FF0000;
}
#u10122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:150px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#409EFF;
}
#u10123 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:102px;
  width:163px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#409EFF;
}
#u10123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:150px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10124 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:102px;
  width:163px;
  height:30px;
  display:flex;
  color:#CCCCCC;
}
#u10124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10125 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:132px;
  width:335px;
  height:164px;
  display:flex;
}
#u10125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u10126 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:172px;
  width:328px;
  height:1px;
  display:flex;
}
#u10126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10127 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:146px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u10127 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10127_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u10128 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:211px;
  width:328px;
  height:1px;
  display:flex;
}
#u10128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10129 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:185px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u10129 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10129_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u10130 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:254px;
  width:328px;
  height:1px;
  display:flex;
}
#u10130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10131 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:228px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u10131 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10131_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10132 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:269px;
  width:42px;
  height:16px;
  display:flex;
  color:#999999;
}
#u10132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10132_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u10133 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:368px;
  width:328px;
  height:1px;
  display:flex;
}
#u10133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u10134 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:311px;
  width:64px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u10134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10134_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10135 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:342px;
  width:42px;
  height:16px;
  display:flex;
}
#u10135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10135_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u10136 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:436px;
  width:328px;
  height:1px;
  display:flex;
}
#u10136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u10137 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:379px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u10137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10138 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:410px;
  width:42px;
  height:16px;
  display:flex;
}
#u10138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u10139 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:504px;
  width:328px;
  height:1px;
  display:flex;
}
#u10139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u10140 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:447px;
  width:24px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u10140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10141 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:478px;
  width:42px;
  height:16px;
  display:flex;
}
#u10141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10141_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u10142 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:572px;
  width:328px;
  height:1px;
  display:flex;
}
#u10142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u10143 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:515px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u10143 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10143_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10144 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:546px;
  width:56px;
  height:16px;
  display:flex;
}
#u10144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10144_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10145 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:146px;
  width:28px;
  height:16px;
  display:flex;
}
#u10145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10145_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10146 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:185px;
  width:14px;
  height:16px;
  display:flex;
}
#u10146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10147 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:228px;
  width:30px;
  height:16px;
  display:flex;
}
#u10147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10147_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10148 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:269px;
  width:86px;
  height:16px;
  display:flex;
}
#u10148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10148_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:76px;
}
#u10149 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:583px;
  width:78px;
  height:76px;
  display:flex;
}
#u10149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:150px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10150 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:102px;
  width:163px;
  height:30px;
  display:flex;
  color:#CCCCCC;
}
#u10150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:150px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#409EFF;
}
#u10151 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:102px;
  width:163px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#409EFF;
}
#u10151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u10152 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:654px;
  width:102px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u10152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
