body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u9786 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1110px;
  height:900px;
  display:flex;
}
#u9786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:70px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u9787 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:106px;
  width:151px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u9787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:901px;
}
#u9788 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:1px;
  height:900px;
  display:flex;
}
#u9788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:66px;
  background:-webkit-linear-gradient(334.134928659922deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  background:-moz-linear-gradient(115.865071340078deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  background:linear-gradient(115.865071340078deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9789 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1110px;
  height:66px;
  display:flex;
  color:#FFFFFF;
}
#u9789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u9790 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:55px;
  width:96px;
  height:37px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u9790 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9790_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9791 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:67px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9791_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9792 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
}
#u9792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u9793 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:58px;
  width:30px;
  height:33px;
  display:flex;
}
#u9793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u9794 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:51px;
  width:25px;
  height:28px;
  display:flex;
}
#u9794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u9795 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:84px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u9795 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9795_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9796 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u9796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9797 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u9797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9798 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u9798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9799 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u9799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9800 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u9800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9801 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:195px;
  width:25px;
  height:25px;
  display:flex;
}
#u9801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9802 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:195px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u9802 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9802_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9805 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:121px;
  width:40px;
  height:40px;
  display:flex;
}
#u9805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9806 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:129px;
  width:25px;
  height:25px;
  display:flex;
}
#u9806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9807 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:129px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u9807 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9807_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9808 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:235px;
  width:64px;
  height:22px;
  display:flex;
}
#u9808 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9808_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9809 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:280px;
  width:25px;
  height:25px;
  display:flex;
}
#u9809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9810 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:280px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u9810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9810_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9811 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:344px;
  width:64px;
  height:22px;
  display:flex;
}
#u9811 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9811_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9812 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:377px;
  width:64px;
  height:22px;
  display:flex;
}
#u9812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9812_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9813 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:312px;
  width:64px;
  height:22px;
  display:flex;
}
#u9813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9814 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:535px;
  width:25px;
  height:25px;
  display:flex;
}
#u9814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9815 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:535px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u9815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9815_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9816 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:571px;
  width:64px;
  height:22px;
  display:flex;
}
#u9816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9817 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:604px;
  width:100px;
  height:22px;
  display:flex;
}
#u9817 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9817_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9818 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:669px;
  width:100px;
  height:22px;
  display:flex;
}
#u9818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9818_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9819 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:416px;
  width:100px;
  height:22px;
  display:flex;
}
#u9819 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9819_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9820 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:712px;
  width:25px;
  height:25px;
  display:flex;
}
#u9820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9821 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:712px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u9821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9822 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:748px;
  width:64px;
  height:22px;
  display:flex;
}
#u9822 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9822_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9823 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:781px;
  width:64px;
  height:22px;
  display:flex;
}
#u9823 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9823_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9824 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:814px;
  width:64px;
  height:22px;
  display:flex;
}
#u9824 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9824_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(166, 205, 251, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u9825 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u9825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9826 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:453px;
  width:100px;
  height:22px;
  display:flex;
}
#u9826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9827 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:485px;
  width:100px;
  height:22px;
  display:flex;
}
#u9827 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9827_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9828 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:637px;
  width:100px;
  height:22px;
  display:flex;
}
#u9828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9829 {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:182px;
  width:1px;
  height:16px;
  display:flex;
}
#u9829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u9830 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:210px;
  width:821px;
  height:110px;
}
#u9831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u9831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u9832 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u9833 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:0px;
  width:115px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u9834 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:0px;
  width:185px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:30px;
}
#u9835 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:0px;
  width:384px;
  height:30px;
  display:flex;
  text-align:left;
}
#u9835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u9836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:57px;
  height:40px;
  display:flex;
  text-align:left;
}
#u9836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u9837 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:30px;
  width:80px;
  height:40px;
  display:flex;
  text-align:left;
}
#u9837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u9838 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:30px;
  width:115px;
  height:40px;
  display:flex;
  text-align:left;
}
#u9838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u9839 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:30px;
  width:185px;
  height:40px;
  display:flex;
  text-align:left;
}
#u9839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:40px;
}
#u9840 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:30px;
  width:384px;
  height:40px;
  display:flex;
  text-align:left;
}
#u9840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u9841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:57px;
  height:40px;
  display:flex;
  text-align:left;
}
#u9841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u9842 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:70px;
  width:80px;
  height:40px;
  display:flex;
  text-align:left;
}
#u9842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u9843 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:70px;
  width:115px;
  height:40px;
  display:flex;
  text-align:left;
}
#u9843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u9844 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:70px;
  width:185px;
  height:40px;
  display:flex;
  text-align:left;
}
#u9844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:40px;
}
#u9845 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:70px;
  width:384px;
  height:40px;
  display:flex;
  text-align:left;
}
#u9845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9846 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:361px;
  width:190px;
  height:16px;
  display:flex;
}
#u9846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
}
#u9847 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:356px;
  width:78px;
  height:26px;
  display:flex;
  text-align:left;
}
#u9847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u9848 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:364px;
  width:10px;
  height:10px;
  display:flex;
}
#u9848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u9849 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:356px;
  width:41px;
  height:26px;
  display:flex;
}
#u9849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u9850 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:356px;
  width:56px;
  height:26px;
  display:flex;
}
#u9850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u9851 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:356px;
  width:27px;
  height:26px;
  display:flex;
  color:#FFFFFF;
}
#u9851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u9852 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:356px;
  width:56px;
  height:26px;
  display:flex;
}
#u9852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u9853 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:356px;
  width:56px;
  height:26px;
  display:flex;
}
#u9853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.87843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9854 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:148px;
  width:818px;
  height:50px;
  display:flex;
}
#u9854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u9855 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:157px;
  width:212px;
  height:33px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u9855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
}
#u9856 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:157px;
  width:66px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u9856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u9857 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:157px;
  width:105px;
  height:33px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u9857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u9858 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:157px;
  width:105px;
  height:33px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u9858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u9859 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:173px;
  width:24px;
  height:1px;
  display:flex;
}
#u9859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
