body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:829px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:773px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u8972 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:773px;
  display:flex;
}
#u8972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u8973 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:64px;
  display:flex;
  color:#CC99CC;
}
#u8973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:16px;
}
#u8974 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:45px;
  width:373px;
  height:16px;
  display:flex;
}
#u8974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u8975 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:78px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u8975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u8976 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:76px;
  width:8px;
  height:14px;
  display:flex;
}
#u8976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8978 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:67px;
  width:64px;
  height:26px;
  display:flex;
}
#u8978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8980 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:73px;
  width:15px;
  height:15px;
  display:flex;
}
#u8980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8981 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:78px;
  width:6px;
  height:6px;
  display:flex;
}
#u8981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u8982 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:76px;
  width:8px;
  height:8px;
  display:flex;
}
#u8982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u8983 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:78px;
  width:5px;
  height:5px;
  display:flex;
}
#u8983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u8984 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:78px;
  width:5px;
  height:5px;
  display:flex;
}
#u8984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u8985 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:759px;
  width:375px;
  height:54px;
  display:flex;
  color:#CC99CC;
}
#u8985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
}
#u8986 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:771px;
  width:335px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u8986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8987 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:135px;
  width:42px;
  height:16px;
  display:flex;
}
#u8987 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8987_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u8988 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:161px;
  width:326px;
  height:1px;
  display:flex;
}
#u8988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8989 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:175px;
  width:56px;
  height:16px;
  display:flex;
}
#u8989 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8989_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u8990 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:201px;
  width:326px;
  height:1px;
  display:flex;
}
#u8990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8991 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:213px;
  width:56px;
  height:16px;
  display:flex;
}
#u8991 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8991_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u8992 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:239px;
  width:326px;
  height:1px;
  display:flex;
}
#u8992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8993 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:252px;
  width:56px;
  height:16px;
  display:flex;
}
#u8993 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8993_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u8994 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:280px;
  width:326px;
  height:1px;
  display:flex;
}
#u8994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8995 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:295px;
  width:56px;
  height:16px;
  display:flex;
}
#u8995 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8995_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u8996 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:323px;
  width:326px;
  height:1px;
  display:flex;
}
#u8996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8998 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:293px;
  width:46px;
  height:20px;
  display:flex;
}
#u8998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8999 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:293px;
  width:20px;
  height:20px;
  display:flex;
}
#u8999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:374px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9001 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:439px;
  width:375px;
  height:374px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u9002 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:761px;
  width:375px;
  height:52px;
  display:flex;
  color:#CC99CC;
}
#u9002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:28px;
  background:-webkit-linear-gradient(284.015992467109deg, rgba(64, 158, 255, 1) 14%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 86%, rgba(0, 102, 255, 1) 86%);
  background:-moz-linear-gradient(165.984007532891deg, rgba(64, 158, 255, 1) 14%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 86%, rgba(0, 102, 255, 1) 86%);
  background:linear-gradient(165.984007532891deg, rgba(64, 158, 255, 1) 14%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 86%, rgba(0, 102, 255, 1) 86%);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9003 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:773px;
  width:156px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u9003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:28px;
}
#u9004 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:773px;
  width:156px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#3796FF;
}
#u9004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#409EFF;
}
#u9005 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:459px;
  width:56px;
  height:16px;
  display:flex;
  color:#409EFF;
}
#u9005 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9005_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(102, 102, 102, 0.737254901960784);
}
#u9006 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:459px;
  width:56px;
  height:16px;
  display:flex;
  color:rgba(102, 102, 102, 0.737254901960784);
}
#u9006 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9006_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(102, 102, 102, 0.737254901960784);
}
#u9007 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:459px;
  width:56px;
  height:16px;
  display:flex;
  color:rgba(102, 102, 102, 0.737254901960784);
}
#u9007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9007_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u9008 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:529px;
  width:326px;
  height:1px;
  display:flex;
}
#u9008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9009 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:505px;
  width:28px;
  height:16px;
  display:flex;
}
#u9009 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9009_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u9010 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:565px;
  width:326px;
  height:1px;
  display:flex;
}
#u9010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9011 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:541px;
  width:28px;
  height:16px;
  display:flex;
}
#u9011 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9011_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u9012 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:601px;
  width:326px;
  height:1px;
  display:flex;
}
#u9012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9013 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:577px;
  width:28px;
  height:16px;
  display:flex;
}
#u9013 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9013_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u9014 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:638px;
  width:326px;
  height:1px;
  display:flex;
}
#u9014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9015 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:614px;
  width:28px;
  height:16px;
  display:flex;
}
#u9015 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9015_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u9016 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:674px;
  width:326px;
  height:1px;
  display:flex;
}
#u9016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9017 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:650px;
  width:28px;
  height:16px;
  display:flex;
}
#u9017 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9017_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u9018 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:709px;
  width:326px;
  height:1px;
  display:flex;
}
#u9018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9019 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:685px;
  width:28px;
  height:16px;
  display:flex;
}
#u9019 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9019_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u9020 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:742px;
  width:326px;
  height:1px;
  display:flex;
}
#u9020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9021 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:718px;
  width:28px;
  height:16px;
  display:flex;
}
#u9021 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9021_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u9022 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:135px;
  width:112px;
  height:16px;
  display:flex;
  color:#D7D7D7;
}
#u9022 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9022_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u9023 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:175px;
  width:140px;
  height:16px;
  display:flex;
  color:#D7D7D7;
}
#u9023 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9023_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u9024 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:213px;
  width:140px;
  height:16px;
  display:flex;
  color:#D7D7D7;
}
#u9024 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9024_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u9025 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:252px;
  width:140px;
  height:16px;
  display:flex;
  color:#D7D7D7;
}
#u9025 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9025_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u9026 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:293px;
  width:98px;
  height:16px;
  display:flex;
  color:#D7D7D7;
}
#u9026 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9026_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
