body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:679px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9064 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:679px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u9065 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:40px;
  width:375px;
  height:64px;
  display:flex;
  color:#CC99CC;
}
#u9065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:16px;
}
#u9066 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:45px;
  width:373px;
  height:16px;
  display:flex;
}
#u9066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u9067 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:76px;
  width:180px;
  height:18px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u9067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u9068 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:77px;
  width:8px;
  height:14px;
  display:flex;
}
#u9068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9070 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:69px;
  width:64px;
  height:26px;
  display:flex;
}
#u9070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9072 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:75px;
  width:15px;
  height:15px;
  display:flex;
}
#u9072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9073 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:80px;
  width:6px;
  height:6px;
  display:flex;
}
#u9073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u9074 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:78px;
  width:8px;
  height:8px;
  display:flex;
}
#u9074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9075 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:80px;
  width:5px;
  height:5px;
  display:flex;
}
#u9075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9076 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:80px;
  width:5px;
  height:5px;
  display:flex;
}
#u9076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:-webkit-linear-gradient(286.077459623196deg, rgba(255, 0, 0, 1) -9%, rgba(255, 0, 0, 1) -9%, rgba(247, 137, 137, 1) 109%, rgba(247, 137, 137, 1) 109%);
  background:-moz-linear-gradient(163.922540376804deg, rgba(255, 0, 0, 1) -9%, rgba(255, 0, 0, 1) -9%, rgba(247, 137, 137, 1) 109%, rgba(247, 137, 137, 1) 109%);
  background:linear-gradient(163.922540376804deg, rgba(255, 0, 0, 1) -9%, rgba(255, 0, 0, 1) -9%, rgba(247, 137, 137, 1) 109%, rgba(247, 137, 137, 1) 109%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u9077 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:167px;
  width:47px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u9077 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u9078 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:144px;
  width:250px;
  height:18px;
  display:flex;
  color:#AAAAAA;
}
#u9078 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9079 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:117px;
  width:50px;
  height:50px;
  display:flex;
}
#u9079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u9080 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:122px;
  width:64px;
  height:16px;
  display:flex;
  color:#000000;
}
#u9080 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9080_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u9081 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:120px;
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u9081 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9081_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:2px;
}
#u9082 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:195px;
  width:352px;
  height:1px;
  display:flex;
}
#u9082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:-webkit-linear-gradient(292.635320790533deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  background:-moz-linear-gradient(157.364679209467deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  background:linear-gradient(157.364679209467deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u9083 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:167px;
  width:68px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u9083 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:-webkit-linear-gradient(292.635320790533deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  background:-moz-linear-gradient(157.364679209467deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  background:linear-gradient(157.364679209467deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u9084 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:167px;
  width:68px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u9084 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u9085 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:141px;
  width:8px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:-webkit-linear-gradient(286.077459623196deg, rgba(255, 0, 0, 1) -9%, rgba(255, 0, 0, 1) -9%, rgba(247, 137, 137, 1) 109%, rgba(247, 137, 137, 1) 109%);
  background:-moz-linear-gradient(163.922540376804deg, rgba(255, 0, 0, 1) -9%, rgba(255, 0, 0, 1) -9%, rgba(247, 137, 137, 1) 109%, rgba(247, 137, 137, 1) 109%);
  background:linear-gradient(163.922540376804deg, rgba(255, 0, 0, 1) -9%, rgba(255, 0, 0, 1) -9%, rgba(247, 137, 137, 1) 109%, rgba(247, 137, 137, 1) 109%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u9086 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:258px;
  width:47px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u9086 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u9087 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:235px;
  width:250px;
  height:18px;
  display:flex;
  color:#AAAAAA;
}
#u9087 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9088 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:208px;
  width:50px;
  height:50px;
  display:flex;
}
#u9088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u9089 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:213px;
  width:64px;
  height:16px;
  display:flex;
  color:#000000;
}
#u9089 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9089_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u9090 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:211px;
  width:48px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u9090 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9090_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:2px;
}
#u9091 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:286px;
  width:352px;
  height:1px;
  display:flex;
}
#u9091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u9092 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:232px;
  width:8px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u9093 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:328px;
  width:250px;
  height:18px;
  display:flex;
  color:#AAAAAA;
}
#u9093 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9094 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:301px;
  width:50px;
  height:50px;
  display:flex;
}
#u9094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u9095 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:306px;
  width:64px;
  height:16px;
  display:flex;
  color:#000000;
}
#u9095 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9095_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u9096 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:304px;
  width:48px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u9096 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9096_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:2px;
}
#u9097 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:379px;
  width:352px;
  height:1px;
  display:flex;
}
#u9097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u9098 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:325px;
  width:8px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:-webkit-linear-gradient(292.635320790533deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  background:-moz-linear-gradient(157.364679209467deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  background:linear-gradient(157.364679209467deg, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 5%, rgba(247, 137, 137, 1) 95%, rgba(247, 137, 137, 1) 95%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u9099 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:353px;
  width:68px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u9099 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
