body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:1205px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10244_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:1130px;
  height:920px;
}
#u10244 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1110px;
  height:900px;
  display:flex;
}
#u10244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:70px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u10245 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:106px;
  width:151px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u10245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:901px;
}
#u10246 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:1px;
  height:900px;
  display:flex;
}
#u10246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:66px;
  background:-webkit-linear-gradient(334.134928659922deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  background:-moz-linear-gradient(115.865071340078deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  background:linear-gradient(115.865071340078deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10247 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1110px;
  height:66px;
  display:flex;
  color:#FFFFFF;
}
#u10247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u10248 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:55px;
  width:96px;
  height:37px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u10248 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10248_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10249 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:67px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10249 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10249_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10250 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
}
#u10250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u10251 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:58px;
  width:30px;
  height:33px;
  display:flex;
}
#u10251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u10252 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:51px;
  width:25px;
  height:28px;
  display:flex;
}
#u10252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u10253 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:84px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u10253 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10253_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10254 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u10254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10255 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u10255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10256 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u10256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10257 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u10257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10258 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u10258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10259 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:195px;
  width:25px;
  height:25px;
  display:flex;
}
#u10259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10260 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:195px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u10260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10260_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10263 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:121px;
  width:40px;
  height:40px;
  display:flex;
}
#u10263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10264 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:129px;
  width:25px;
  height:25px;
  display:flex;
}
#u10264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u10265 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:129px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u10265 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10265_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10266 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:235px;
  width:64px;
  height:22px;
  display:flex;
}
#u10266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10266_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10267 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:280px;
  width:25px;
  height:25px;
  display:flex;
}
#u10267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10268 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:280px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u10268 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10268_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10269 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:344px;
  width:64px;
  height:22px;
  display:flex;
}
#u10269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10269_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10270 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:377px;
  width:64px;
  height:22px;
  display:flex;
}
#u10270 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10270_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10271 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:312px;
  width:64px;
  height:22px;
  display:flex;
}
#u10271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10272 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:535px;
  width:25px;
  height:25px;
  display:flex;
}
#u10272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10273 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:535px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u10273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10274 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:571px;
  width:64px;
  height:22px;
  display:flex;
}
#u10274 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10274_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10275 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:604px;
  width:100px;
  height:22px;
  display:flex;
}
#u10275 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10275_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10276 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:669px;
  width:100px;
  height:22px;
  display:flex;
}
#u10276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10276_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10277 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:416px;
  width:100px;
  height:22px;
  display:flex;
}
#u10277 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10277_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10278 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:712px;
  width:25px;
  height:25px;
  display:flex;
}
#u10278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10279 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:712px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u10279 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10279_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10280 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:748px;
  width:64px;
  height:22px;
  display:flex;
}
#u10280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10280_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10281 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:781px;
  width:64px;
  height:22px;
  display:flex;
}
#u10281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10282 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:814px;
  width:64px;
  height:22px;
  display:flex;
}
#u10282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10282_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(166, 205, 251, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u10283 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u10283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10284 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:453px;
  width:100px;
  height:22px;
  display:flex;
}
#u10284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10284_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10285 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:485px;
  width:100px;
  height:22px;
  display:flex;
}
#u10285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10285_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10286 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:637px;
  width:100px;
  height:22px;
  display:flex;
}
#u10286 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10286_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10287 {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:182px;
  width:1px;
  height:16px;
  display:flex;
}
#u10287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10287_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u10288 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:233px;
  width:878px;
  height:90px;
}
#u10289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u10289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u10289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u10290 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:0px;
  width:128px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u10290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u10291 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:0px;
  width:121px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u10291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u10292 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:91px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u10292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u10293 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:0px;
  width:121px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u10293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u10294 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:0px;
  width:182px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u10294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u10295 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:0px;
  width:154px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u10295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u10296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:81px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u10297 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:30px;
  width:128px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u10298 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:30px;
  width:121px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u10299 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:30px;
  width:91px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u10300 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:30px;
  width:121px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u10301 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:30px;
  width:182px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u10302 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:30px;
  width:154px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u10303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:81px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u10304 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:60px;
  width:128px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u10305 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:60px;
  width:121px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u10306 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:60px;
  width:91px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u10307 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:60px;
  width:121px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u10308 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:60px;
  width:182px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u10309 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:60px;
  width:154px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10310 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:367px;
  width:190px;
  height:16px;
  display:flex;
}
#u10310 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10310_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
}
#u10311 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:362px;
  width:78px;
  height:26px;
  display:flex;
  text-align:left;
}
#u10311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10312 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:370px;
  width:10px;
  height:10px;
  display:flex;
}
#u10312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u10313 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:362px;
  width:41px;
  height:26px;
  display:flex;
}
#u10313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u10314 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:362px;
  width:56px;
  height:26px;
  display:flex;
}
#u10314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u10315 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:362px;
  width:27px;
  height:26px;
  display:flex;
  color:#FFFFFF;
}
#u10315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u10316 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:362px;
  width:56px;
  height:26px;
  display:flex;
}
#u10316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u10317 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:362px;
  width:56px;
  height:26px;
  display:flex;
}
#u10317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.87843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10318 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:129px;
  width:924px;
  height:50px;
  display:flex;
}
#u10318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u10319 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:138px;
  width:305px;
  height:33px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u10319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:-webkit-linear-gradient(276.776626300258deg, rgba(64, 158, 255, 1) -11%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 111%, rgba(0, 102, 255, 1) 111%);
  background:-moz-linear-gradient(173.223373699742deg, rgba(64, 158, 255, 1) -11%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 111%, rgba(0, 102, 255, 1) 111%);
  background:linear-gradient(173.223373699742deg, rgba(64, 158, 255, 1) -11%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 111%, rgba(0, 102, 255, 1) 111%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10320 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:138px;
  width:66px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u10320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10321_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10321 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:138px;
  width:114px;
  height:33px;
  display:flex;
}
#u10321 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10321_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10321.disabled {
}
.u10321_input_option {
}
#u10322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u10322 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:138px;
  width:105px;
  height:33px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u10322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u10323 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:138px;
  width:105px;
  height:33px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u10323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u10324 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:154px;
  width:24px;
  height:1px;
  display:flex;
}
#u10324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:-webkit-linear-gradient(276.776626300258deg, rgba(64, 158, 255, 1) -11%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 111%, rgba(0, 102, 255, 1) 111%);
  background:-moz-linear-gradient(173.223373699742deg, rgba(64, 158, 255, 1) -11%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 111%, rgba(0, 102, 255, 1) 111%);
  background:linear-gradient(173.223373699742deg, rgba(64, 158, 255, 1) -11%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 111%, rgba(0, 102, 255, 1) 111%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10325 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:138px;
  width:66px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u10325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
